@model IEnumerable<DAL.DBEntities.User>

@{
    ViewBag.Title = "list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="row form-group">
            <div class="col-8">
                <h4 class="card-title">Customers</h4>
            </div>
            <div class="col-2 text-right">
                <select class="form-control" id="filterDropdown">
                    <option disabled>--please select--</option>
                    <option value="0" @(ViewBag.Filter != null && (int)ViewBag.Filter == 0 ? "selected" : "")>All</option>
                    <option value="1" @(ViewBag.Filter != null && (int)ViewBag.Filter == 1 ? "selected" : "")>Active</option>
                    <option value="2" @(ViewBag.Filter != null && (int)ViewBag.Filter == 2 ? "selected" : "")>Deactive</option>
                </select>
            </div>
            <div class="col-2 text-right">
                <a href="~/customers/add" class="btn btn-sm btn-secondary">
                    <i class="mdi mdi-plus-circle"></i> Add Customer
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing1" class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Company Code</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Package</th>
                                <th>Company Name</th>
                                <th>Contact</th>
                                <th>Last Order Date</th>
                                <th>Remaining Days</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DAL.DBEntities.User item in Model)
                            {
                                <tr>
                                    <td> @item.UserID</td>
                                    <td> @item.CompanyCode</td>
                                    <td> @item.FirstName  &nbsp; @item.LastName</td>
                                    <td> @item.Email</td>
                                    @if (item.PackageInfoID == 1)
                                    {
                                        <td>Free Trial</td>
                                    }
                                    else
                                    {
                                        <td>Professional</td>
                                    }
                                    <td> @item.Company</td>
                                    <td> @item.ContactNo</td>
                                    <td> @DateTime.Now</td>
                                    <td> @item.RemainingDays</td>
                                    <td>
                                        <label>
                                            @if (item.StatusID == 1)
                                            {
                                                <b class="badge badge-success">Active</b>
                                            }
                                            else
                                            {
                                                <b class="badge badge-danger">Deactive</b>
                                            }
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        <a href="~/customers/add?id=@item.UserID">
                                            <i class="mdi mdi-account-edit" data-toggle="tooltip" data-placement="bottom" title="Edit Data" style="font-size:25px !important;"></i>
                                        </a>
                                        <a href="javascript:void(0);" onclick="sendWhatsApp('@item.UserID')">
                                            <i class="mdi mdi-whatsapp" data-toggle="tooltip" data-placement="bottom" title="Send WhatsApp Message" style="font-size:25px !important; color: green;"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#order-listing1').DataTable();


         // Dropdown change event
        $('#filterDropdown').change(function () {
            debugger
            const selectedValue = $(this).val();
            window.location.href = `@Url.Action("list", "customers")?filter=${selectedValue}`;
        });

    });

    function Delete(_id)
    {
        $.post("@Url.Action("Delete", "Customers")", { id: _id}, function (data) {
                if (data.success) {

                    alert("Deleted Successfully");
                }
            });
    }

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    $(document).ready(function () {

        $.get("@Url.Action("PackageUpdate", "Customers")", function (data) {
            if (data.success) {
                alert("Email Send Successfully");
            }
        });
    });
    function sendWhatsApp(userId) {
        $.get("@Url.Action("SendWhatsAppMessage", "customers")", { userId: userId }, function (data) {
            if (data.success) {
                alert("Message Send Successfully");
            } else {
                alert(data.message); // Show error message if any
            }
        });
    }
</script>
